*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Plus Jakarta Sans, sans-serif; */
  /* font-family: Satoshi, 'san-serif'; */
  font-family: roboto, 'sans-serif';
}

body{
  overflow-x: hidden;
  background-color: #e5f4e1;
}

.navbar-brand img{
  width: 50px;
}
.navbar{
  position: sticky;
  top: 0;
  /* height: 70px; */
  padding: 15px 0;
  background-color: white;
  z-index: 9999999 !important;
  background-color: #2f5854;
}
li{
  list-style: none;
}

.navbar .navbar-nav .dropdown .nav-link::after{
  display: none;
}
.navbar .dropdown:hover .dropdown-content{
  display: block !important;
}
.navbar .dropdown-content{
  position: absolute;
  display: none;
  box-shadow: 0 0.25rem .5rem rgba(0, 0, 0, 0.15);
  padding: 10px 0px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #e7e7e7;
}
.navbar .nav-item .nav-link{
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
}

.navbar .btn-login{background-color: #fff !important;}
.navbar .btn-login:hover{color: #fff !important; background-color: #72d35a !important;}
.navbar .nav-item .nav-link:hover{
  color:  #72d35a !important;
}

.navbar .navbar-nav .dropdown-item{
  padding: 5px 30px;
  font-size: .95rem !important;
}
.navbar .navbar-nav .dropdown-item:hover{
  color: #72d35a;
}

.navbar .navbar-nav .dropdown-item:hover{
 background-color: #f8f9fa;
}
.navbar .employer .dropdown-item{
  font-size: .95rem !important;
}
.navbar .employer .dropdown-item:focus{
  font-size: .95rem !important;
  background-color: #72d35a !important;
}
.navbar .employer .dropdown-toggle i{padding: 10px 12px; background-color: #72d35a; border-radius: 50%; font-size: 15px; color: #fff; border: 2px solid #2f5854;}
.navbar .employer .dropdown-menu[data-bs-popper] {
  top: 115%;
  left: -75px;
}
.navbar .employer .dropdown-toggle::after {border: 0;}
.btn-login{
  background-color: unset;
  border: 1px solid  #72d35a;
  border-radius: 50px;
  color:  #72d35a;
  padding: 8px 15px;
  outline: none;
  font-weight: 600;
  font-size: .85rem;
  transition: all .3s ease;
}
.btn-outline-login{
  /* background-color: #6e00be; */
  background: #72d35a;
  border: #72d35a;
  border-radius: 50px;
  color: #fff;
  padding: 8px 25px;
  outline: none;
  font-weight: 600;
  font-size: .85rem;
}
.btn-login:hover, .btn-login:focus{
  border: 1px solid #72d35a !important;
  color: white !important;
  background: #72d35a;
  transition: all .3s ease;
}
.btn-outline-login:hover{
  border: 1px solid  #72d35a !important;
  color:  #72d35a !important;
  background: unset !important;
}
.btn-register{
  /* background-color: rgb(252 89 18 / 1);
  border: 1px solid rgb(252 89 18 / 1); */
 background: #72d35a;
 border:  1px solid #72d35a;
  color: white;
  border-radius: 50px;
  padding: 8px 15px;
  outline: none;
  font-weight: 600;
  font-size: .85rem;
 
}
.btn-register:hover{ background-color: #fff ; color: #72d35a; border: 1px solid #72d35a; }
.btn-register:focus,.btn-register:active  { 
  background-color: #fff ; color: #72d35a; border: 1px solid #72d35a;}
.btn-login, .btn-register:focus{outline: none;}


.footer{
  /* background-color: #1d1934; */
  background-color: #2f5854 !important;
  color: white;
}
.footer .social_links i{
  font-size: 20px;
  background-color: white;
  padding: 8px 8px;
  color: #72d35a;
  border-radius: 50%;
  margin-bottom: 7px;
  transition: all .1s linear;
}
.footer .social_links i:hover{
  background-color: #72d35a;
  color: #fff;
  transition: all .1s linear;
}
.footer li {font-weight: 400; margin-bottom: 10px; font-size: 15px;}
.footer li a:hover{color: #72d35a;}
.footer h5{margin-bottom: 15px; position: relative;}
.footer h5::before{content:""; position: absolute; bottom: -6px;height: 2px; left: 0; background-color: #72d35a; width: 50px;}
.footer a .fa-chevron-right{font-size: 12px; font-weight: 600; opacity: .5;margin-right: 3px;}

.swiper-button-next, .swiper-button-prev{
  top: 40% !important;
}

/*--------New Navbar--------------*/
.new_navbar{
  padding: 15px 0;
  border-bottom: 1px solid #d2d1d6;
  background-color: #2f5854;
}
.new_navbar .btn-login{color: #fff !important; background-color: #72d35a !important;}
.new_navbar .btn-login:hover{background-color: #fff !important;color: #72d35a !important;}
.signup_form{
  margin-right: 16px;
  padding: 24px 70px 24px 70px !important;
}


.jobseeker_form label {font-size: 14px !important; font-weight: 500;margin-bottom: 5px;}
.jobseeker_form label span {color: red;}
.jobseeker_form input[type='text']{font-size: 14px; height: 40px;}
.jobseeker_form input[type='file']{font-size: 14px; height: 35px;}
.jobseeker_form input[type='url']{font-size: 14px; height: 40px;}
.jobseeker_form input[type='email']{font-size: 14px; height: 40px;}
.jobseeker_form input[type='password']{font-size: 14px; height: 40px;}
.jobseeker_form select{font-size: 14px; height: 40px;}
.jobseeker_form select:focus{box-shadow: none;}
.jobseeker_form textarea{box-shadow: none;font-size: 14px; }
.jobseeker_form input:focus, #signup_form textarea:focus{box-shadow: none;font-size: 14px; border-color: #72d35a;}

#login_form label {font-size: 14px !important;}
#login_form input[type='text']{font-size: 14px; height: 40px;}
#login_form input[type='email']{font-size: 14px; height: 40px;}
#login_form input[type='password']{font-size: 14px; height: 40px;}
#login_form select{font-size: 14px; height: 40px;}
#login_form select:focus{box-shadow: none;}
#login_form input:focus{box-shadow: none;}
#login_form textarea:focus{box-shadow: none;font-size: 14px;}
#googleLogin, #facebookLogin{
  align-items: center;
    border: 1px solid #e7e7e7;
    color: #1d1934;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    font-weight: 500;
    justify-content: center;
    padding: 8px 10px;
    border-radius: 50px;
}
.or_circle span{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  font-size: 14px;
  color: #ccc;
}
.whatsapp_check{font-size: 15px; color: #979595;}
.up-to-date-consent span{font-size: 13px;}
.termsAndCondition{color: #777585;
    font-size: 12px;
    font-weight: 400;
    padding-top: 22px;
}
.termsAndCondition a{color: #0d99ff; text-decoration: underline;}
.text-primary{color: #72d35a !important;}

.login_page_btn{
  height: 55px;
  background-color: #72d35a;
  color: white;
  border-radius: 8px;
  width: 100%;
  border: 1px solid #72d35a;
  margin-top: 15px;
  font-weight: 500;
}

.text_blue{color: #0d99ff;}

.mobileAppDesc{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f5;
    padding: 20px;
    border-radius: 12px;
}
.socialLoginTab img{
  width: 22px;
}



.personal_detail_card .fa-pen-to-square, .company_full_details .fa-pen-to-square{background: #ddd;
  font-size: 13px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 3px;
  border-radius: 4px;}
.profile_div{
  height: 80px;
  width: 80px;
}
input[type='checkbox']{
  height: 16px;
  width: 16px;
}

.register_page .select_tab button, .login_page .select_tab button{
  color: white;
  border-color: #72d35a;
  color: #72d35a;
  font-weight: 500;
  outline: 0;
  border-radius: 0px;
  border: 1px solid #72d35a;
}
.register_page .select_tab button:focus{border-color: #72d35a;color: #72d35a; outline: 0;}
.register_page .select_tab button.active{
  background-color: #72d35a;
  color: white;
  border-color: #72d35a;
}
.login_page .select_tab button:focus{border-color: #72d35a;color: #72d35a; outline: 0;}
.login_page .select_tab button.active{
  background-color: #72d35a;
  color: white;
  border-color: #72d35a;
}
.shadow{box-shadow: 0 0 3px #1e293b26 !important;}

/*---------- Contact Page ----------*/
 .contact_icon {width: 60px; height: 60px; margin: auto;display: flex;align-items: center;justify-content:center ; background-color: #ebfbd7; }
 .contact_icon i{font-size: 20px; color: #72d35a; }
 .contact_icon .card{transition: all .3s ease;}
.contact_page .contact_us_details .card:hover{background-color: #e9e9e9;transition: all .3s ease;}
.contact_page #signup_form label {font-weight: 600;}
/*---------- About Page ----------*/
.about_page .hero_banner h1, .contact_page .hero_banner h1{font-size: 30px;}
.about_page h4{font-weight: 600; line-height: 1.5;}
.about_page h5{font-weight: 600; line-height: 1.5; font-size: 17px;}
.text-muted {
  color: #7a8ba3 !important;
  /* color: #94a3b8 !important; */
  font-size: 15px;
  line-height: 1.7;
}
/* .shape{
  bottom: -1px;
    left: 0;
    position: absolute;
    right: 0;
}
.shape>svg{
  transform: scale(2);
    transform-origin: top center;
    width: 100%;


   
} */

/*------All Employers Page --------*/
.all_employers_page .logo_div{
  left: 26px;
    position: absolute;
    top: -26px;
    background: #fff;

}
.all_categories_page .fa-check{color: #72d35a; font-size: 20px;}


/*-------- FAQ Page --------------*/
 .faq_section .nav-pills .nav-link.active{background-color:#72d35a !important; color: #fff !important;}
 .faq_section .nav-link {color: #000 !important; text-align: start !important;}
 .faq_section .accordion-item{margin-bottom: 10px;}
 .faq_section .accordion-button:focus{box-shadow: none;}
 .faq_section .accordion-button:not(.collapsed){background-color: #72d35a; color:#000;}
.back_to_top{
  position: fixed;
  right: 14px;
  background-color: #72d35a;
  color: #fff;
  padding: 14px 16px;
  font-size:20px;
  z-index: 999;
  bottom: 50px; 
  border: 0;
}

.pagination .page-link{color: #2f5854;}
.pagination .page-link:focus{box-shadow: none;}
.pagination .page-link.active{background-color: #2f5854; border-color: #72d35a;color: white;}
.pagination .page-link:focus,.pagination .page-link:hover{box-shadow: none; background-color: #72d35a;}





.alert.alert-dismissible{
  position: fixed !important;
  right: 50px !important;
  top: 10px !important;
  z-index: 999 !important;
}
.alert-dismissible button:focus{box-shadow: none !important;}
.alert-dismissible button:active{box-shadow: none !important;}

.ReactFlagsSelect-module_flagsSelect__2pfa2 button{height: 40px; padding: 0 !important;font-size: 14px !important;}
.ReactFlagsSelect-module_flagsSelect__2pfa2 button, .ReactFlagsSelect-module_flagsSelect__2pfa2 button span{width: 100% !important;}

.ReactFlagsSelect-module_flagsSelect__2pfa2 .ReactFlagsSelect-module_selectFlag__2q5gC{width: auto !important;}
.ReactFlagsSelect-module_flagsSelect__2pfa2 li span{font-size: 14px !important;}

.ReactFlagsSelect-module_selectBtn__19wW7:after {border: 0 !important;}


.ReactFlagsSelect-module_filterBox__3m8EU input {padding: 4px !important;border: 1px solid #ccc !important; border-radius: 4px !important; font-size: 14px !important;}

.form-control input{height: 40px;font-size: 14px !important;}
.form-control input::placeholder{font-size: 14px !important;}

/*-------- Media Query --------------*/

@media screen and (max-width:992px) {
  .signup_form{margin-right: 0;}
}
@media screen and (max-width:600px) {
  .btn-register, .btn-login {font-size: .75rem; padding: 5px 13px; margin: 0 5px !important;}
  .navbar-brand img {
   width: 50px;}
    .both_btns{border: 0 !important; margin-right: 0 !important;}
    .hero_banner .banner_search .fa-solid {font-size: 15px;}
    .signup_form{
      padding: 24px 30px 24px 30px !important;
    }
}
